<?xml version="1.0" encoding="UTF-8"?>




<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
   >

<mapper namespace="com.cafe.teria.dao.AdminDAO">
 
   <select id="membersInfo" resultType="com.cafe.teria.dto.JoinMemberDTO">
      select *
      from member;
   </select>

   <select id="cafesInfo" resultType="com.cafe.teria.dto.CafeDTO">
      select *
      from cafe;
   </select>
   
   
<!-- 업주회원 코드 등록 -->
	<update id="updateBcode">
	update member
	set mem_bcode = #{param2}
	where mem_id = #{param1}
	</update>



</mapper>