<?xml version="1.0" encoding="UTF-8"?>




<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
   >

<mapper namespace="com.cafe.teria.dao.JoinMemberDAO">
	<!-- 
	<select id="membersInfo" resultType="com.cafe.teria.dto.JoinMemberDTO">
		select *
		from member;
	</select>
 -->


   <select id="overlay" resultType="String">
 
   	 SELECT #{param1} FROM member WHERE mem_id = #{param1}
   	 
   </select>
   
  
    <insert id="join" parameterType="hashmap">
   	INSERT INTO member (mem_id,mem_pw,mem_nick, mem_stat, mem_emailchk, mem_bcode,mem_grade,mem_perm_yn) VALUES
   		(#{mem_id},#{mem_pw},#{mem_nick}, 1, #{mem_emailchk}, 1, 1, #{mem_perm_yn})
   		
   		
   		<!-- INSERT INTO member (mem_id,mem_pw,mem_pwchk,mem_nick, mem_stat, mem_emailchk, mem_bcode,mem_grade,mem_perm_yn) VALUES
   		(#{mem_id},#{mem_pw},#{mem_pwchk},#{mem_nick}, 1, #{mem_emailchk}, 1, 1, #{mem_perm_yn}) -->
   </insert>
    
    
      <select id="login" resultType="HashMap" parameterType="String">
   SELECT *
   FROM member 
   WHERE mem_id = #{param1} AND mem_pw = #{param2}
   </select>
   
   
   
   <select id="list" resultType="com.cafe.teria.dto.JoinMemberDTO">
	 select mem_id, mem_nick from member
	 
</select>
   
   
   
   <!-- 
 <select id="mydetail" resultType="com.cafe.teria.dto.JoinMemberDTO">
      SELECT * FROM member where mem_id = #{param1}
   </select>
   
   

<update id="update">
UPDATE member SET
	mem_pw = #{mem_pw}
	,mem_nick = #{mem_nick}
	,mem_stat = #{mem_stat}
	,mem_emailchk = #{mem_emailchk}
	, mem_bcode = #{mem_bcode}
	,mem_grade = #{mem_grade}
	,mem_perm_yn = #{mem_perm_yn}
WHERE mem_id = #{mem_id}
</update>
 -->
 
 
 
 <!-- 20220117 아이콘 떠오기 -->
      <select id="iconChk" resultType="String">
         select icon_newname
         from icon
         where mem_id = #{param1}
      </select>
   
<!-- 20220117 상태창보기SI, 회원정보변경페이지로SI -->   
   <select id="viewInfo" resultType="com.cafe.teria.dto.JoinMemberDTO">
      select a.*, b.icon_oriname, b.icon_newname 
      from member a
      left outer join icon b
      on a.mem_id = b.mem_id 
      where a.mem_id = #{param1}
   </select>

<!-- 20220117 상태창보기SI,  회원정보변경페이지로SI -->
  
<!-- 20220119 회원정보변경 -->
   <update id="editInfo" parameterType="HashMap">
      UPDATE member 
      SET mem_nick = #{nick}
         ,mem_emailchk = #{emailchk}
      WHERE mem_id = #{id}
   </update>
   
   <update id="editIcon" parameterType="HashMap">
      update icon
      set icon_newname = #{icon}
      where mem_id = #{id};
   </update>
   
<!-- 20220119 닉네임 중복검사-->
   <select id="nickChk" resultType="String">
      SELECT mem_nick from member WHERE mem_nick = #{param1}
   </select>
<!-- 20220119 닉네임 중복검사 -->




<!-- 비밀번호 찾기 -->
	<select id="findPassword" parameterType="String" resultType="String">
		select mem_pw from member where mem_id = #{mem_id}
	</select>



	<update id="pwupdate" parameterType="HashMap">
		update member set mem_pw=#{mem_pw} where mem_id=#{mem_id}
	</update>

 




</mapper>